#board {
  overflow: hidden;
  position: relative;
  width: 464px;
  height: 464px;
  background: silver;
  border: 8px solid #888;
  -webkit-border-radius: 8px;
  -webkit-user-select: none;
}
#board div[role=tile], #board div[role=piece], #board div[role=goal], #board div[role=home] {
  position: absolute;
  width: 30px;
  height: 30px;
}
#board div[role=goal] {
  width: 0;
  height: 0;
  border-bottom: 15px solid red;
  border-left: 15px solid green;
  border-right: 15px solid blue;
  border-top: 15px solid yellow;
}
#board div[role=tile] {
  background: white;
}
#board div[role=home] {
  -webkit-border-radius: 7px;
}
#board div[role=piece] {
  z-index: 1;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .5),
                      inset 2px 2px 2px rgba(255, 255, 255, 0.4),
                      inset -2px -2px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(.8);
}
#board div[data-color=r] { background-color: red; }
#board div[data-color=g] { background-color: green; }
#board div[data-color=y] { background-color: yellow; }
#board div[data-color=b] { background-color: blue; }

#dice {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  -webkit-user-select: none;
}